DJANGO_SECRET_KEY=NoLwR;za5JWRO|BGElW;jm1xwj4:}35H2.#]^~lsW3n$?Y0W.3
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=Africa/Kigali
DJANGO_DB_ENGINE=mysql
DB_NAME=restaurant_db
DB_USER=restaurant_user
DB_PASSWORD=database_password
DB_HOST=127.0.0.1
DB_PORT=3306